@tailwind base;
@tailwind components;
@tailwind utilities;

/* Petit réglage pour que la carte prenne toute la hauteur */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Correction des icônes Leaflet qui peuvent buguer avec Vite */
.leaflet-control-zoom a {
  color: black !important;
}